@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
$small: 420px;
$medium: 1024px;

html{
	height: 100%;
}
body {
	margin: 0px;
	height: 100%;

}

#root{
	width: 100%;
	height: 100%;
}

h1{
	font-family: Roboto Condensed;
	font-weight: 700;
	font-size: 40pt;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 40px;
    color: #2c2c2c;
}
h2{
	font-family: Roboto Condensed;
	font-weight: 700;
	font-size: 26pt;
    color: #2c2c2c;
}
h3{
	font-family: Roboto Condensed;
	font-weight: 600;
	font-size: 20pt;
    color: #2c2c2c;
}
h4{
	font-family: Roboto Condensed;
	font-weight: 600;
	font-size: 17px;
    color: #2c2c2c;
}
p{
	font-family: Roboto;
	font-weight: normal;
	margin: 0px;
}

a{
	text-decoration: none;
}

h5{
	font-family: Roboto;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 5px;
    color: #2c2c2c;
}

.popup-content {
	width: 500px !important;
}

.paragraph{
	line-height: 22px;
	margin-bottom: 40px;

	
}
#fullDiv{
	width: 100%;
	height: 100%;
}
.mapContainerStyle{
	min-height: 800px;
	margin: auto;
	padding: 10px;
}


.gridBack{
	background-image: url('/SVG/Parkchaser-Checkerboard.svg');
	background-color: transparent;
	height: 35px;
	
}
/**/
.content{
	max-width: 1440px;
	background-color: RGB(240, 244, 252);
	padding: 110px 30px 0px 30px;

	box-sizing: border-box;
	width: 100%;
	margin: auto;
}

.mainMap{
	height: 550px;
	@media all and (max-width: $small) {
		display: none;
	}
}

.dads{
	margin-top: 50px;
}
.mads{
	margin-top: 20px;
	margin-bottom: 20px;
	display: none;
	@media all and (max-width: $medium) {
		display: block;
	}
}
.moblie-ads1area{
	background-color:RGB(240, 244, 252) ;
	display: none;
}
.moblie-ads2area{
	background-color:RGB(240, 244, 252) ;
	display: none;
}

@media all and (max-width: $small) {

	h1{
		font-family: Roboto Condensed;
		font-weight: 700;
		font-size: 30pt;
	}
	
	.moblie-ads1area{
		display: block;
		width: 300px;
		height: 60px;
		
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.moblie-ads2area{
		display: block;
		width: 300px;
		height: 300px;
		
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	
}



.textClickable{
	color: #068DBF;
	text-decoration:none;
	cursor: pointer;
}
.textClickable:hover{
	color: #09A7E2;
	text-decoration: none;
}

/*Social Media Icons*/
.fa {
	width: 34px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.socialbutton-wrapper{
	display: flex;
	justify-content: space-evenly;
	width: 200px;
	margin: auto;
	margin-top: 20px;
}
.socialbutton{
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	cursor: pointer;
	background-color: transparent;
	margin-right: 4px;
	margin-top: 0px;
	border: none;
	color:#09A7E2;
	outline: none;
}

/* Ad Area*/
.adarea1{
	width: 300px;
	height: 250px;
	margin-bottom: 20px;
	background-color: RGB(240, 244, 252) ;
}
.adarea2{
	width: 300px;
	height: 600px;
	margin-bottom: 20px;
	background-color: RGB(240, 244, 252) ;
}

/**/
.mainbutton {
	border: none;
	height: 44px;
	  padding: 0px;
	background-color: #A4DA2A;
	color: #000000;
	font-size: 17px;
	font-weight: bold;
	border-radius: 0;
	width: 135px;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
	   
  }

  .mainbutton:hover {
  color: #fff;
  background-color: #414753;
  outline: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;

}